<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.mapper.ClubMapper">

	<resultMap type="com.example.demo.model.ClubModel" id="clubMap">
		<result property="clubno" column="clubno"/>
		<result property="name" column="name"/>
		<result property="des" column="des"/>
		<result property="member_memberno" column="member_memberno"/>
	</resultMap>

	<select id="selectItem" resultType="ClubModel" resultMap="clubMap">
		SELECT * FROM CLUB WHERE clubno=#{clubno};
	</select>
</mapper>

